-- Criar o banco de dados
CREATE DATABASE projeto_times;

-- Conectar ao banco
\c projeto_times

-- Tabela de times
CREATE TABLE times (
    id SERIAL PRIMARY KEY,
    nome VARCHAR(100)
    vitorias INT,
    derrotas INT,  
    gols_marcados INT,
    gols_sofridos INT
);

